h1 {
  text-align: center;
  font-size: 40px;
  text-shadow: 5px 5px 10px rgba(202, 199, 199, 0.705);
}

#bodyContainer {
  display: block;
  margin: 20px auto;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.658);
  width: 560px;
  height: 270px;
  padding: 40px 0px;
  border-radius: 6px;
  box-shadow: #32325d40 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
body {
  background-image: url("bestclock.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}
.clock,
.CityTime {
  padding-top: 25px;
  font-size: 33px;
  line-height: 1;
  font-weight: bolder;
  margin-top: 10px;
}
h1,
h2 {
  font-family: "Vollkorn", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 10px;
}
.am {
  vertical-align: baseline;
  font-size: 20px;
  padding-bottom: 10px;
}
#citySelect {
  font-size: 15px;
  padding: 10px 15px;
  border-radius: 6px;
  color: rgba(0, 0, 0, 0.726);
  font-family: sans-serif;
  font-weight: 400;
  margin-bottom: 10px;
  text-align: left;
  width: 500px;
}
h2 {
  text-align: left;
}
#currentTime,
#newyork {
  display: flex;
  justify-content: space-between;
  padding: 5px 30px;
}
.date {
  text-align: left;
  font-size: 12px;
  opacity: 70%;
  font-weight: normal;
  margin-top: 2px;
  padding-bottom: 30px;
}
.city {
  margin-bottom: 0;
  margin-top: 30px;
}
#currentTime {
  border-bottom: solid rgba(150, 145, 145, 0.445) 1px;
}
.currentLocation {
  text-align: left;
  padding-left: 10px;
  padding-bottom: 10px;
  font-size: 13px;
  font-family: "Lobster", sans-serif;
}
#NewYorkDate {
  padding-bottom: 20px;
}
footer {
  text-align: center;
  font-family: "Lobster", sans-serif;
  font-style: normal;
  opacity: 80%;
}
